node_modules/
dist/
.env
*.db
.turbo/
.next/
 
.pnpm-store/
node.exe
pnpm/
mcp_stderr.txt
packages/shared-types/src/*.js
packages/shared-types/src/*.d.ts
packages/shared-types/src/*.map
run-pnpm.bat
run.ps1
pnpm-preload.js
pnpm-wrapper.js
